<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>博客管理</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.2/dist/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/me.css" rel="stylesheet">
</head>

<body>
<!-- nav -->
<nav class="ui inverted attached segment m-padded-tb-mini" th:replace="admin/_fragments :: menu(1)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui item teal header">后台管理</h2>
            <a class="m-item item m-mobile-hide" href="#"><i class="icon home"></i>首页</a>
            <a class="m-item item m-mobile-hide" href="#"><i class="icon idea"></i>分类</a>
            <a class="m-item item m-mobile-hide" href="#"><i class="icon tags"></i>标签</a>
            <div class="right m-item menu m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img alt="" class="ui avatar image" src="https://picsum.photos/id/1/100/100">
                        陈鹤峰
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#">注销</a>
                    </div>
                </div>
            </div>

        </div>
        <a class="ui menu toggle black icon button m-top-right m-mobile-show" href="#">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a class="item" href="#">发布</a>
            <a class="active item" href="#">列表</a>
        </div>
    </div>
</div>


<!-- context -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui secondary segment form">
            <input name="page" type="hidden">
            <div class="inline fields">
                <div class="field">
                    <input name="title" placeholder="标题" type="text">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui selection dropdown">
                            <input name="typeId" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1" th:data-value="${type.id}"
                                     th:each="type : ${types}"
                                     th:text="${type.name}">错误日志
                                </div>
                                <!--/*-->
                                <div class="item" data-value="2">开发者手册</div>
                                <!--*/-->
                            </div>
                        </div>
                        <div class="ui compact button" id="clear-btn">Clear</div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input id="recommend" name="recommend" type="checkbox">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal basic button" id="search-btn" type="button"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>

        <div class="ui segment" id="table-container">
            <table class="ui celled table" th:fragment="blogList">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog, iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">刻意练习清单</td>
                    <td th:text="${blog.type.name}">认知清单</td>
                    <td th:text="${blog.recommend} ? '是':'否'">是</td>
                    <td th:text="${blog.published} ? '发布':'草稿'">发布</td>
                    <td th:text="${blog.updateTime}">2020年5月14日 22点56分</td>
                    <td>
                        <a class="ui mini teal button m-margin-right" th:onclick="|editBlog(${blog.id})|">编辑</a>
                        <a class="ui mini teal button" th:onclick="|confirmDelete(${blog.id})|">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a class="icon item" th:attr="data-page=${page.number}-1"
                               th:onclick="|otherPage(${page.number}-1)|" th:unless="${page.first}">上一页</a>
                            <a class="icon item" th:attr="data-page=${page.number}+1"
                               th:onclick="|otherPage(${page.number}+1)|" th:unless="${page.last}">下一页</a>
                        </div>
                        <a class="ui mini right floated teal basic button" id="add-blog">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>


        </div>
    </div>
</div>


<br>
<!-- delete confirm -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        你确定要删除吗，不可恢复，请做好备份
    </div>
    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui positive right labeled icon button" id="confirm-btn">
            确定
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>


<!-- footer -->
<footer class="ui segment inverted vertical attached m-padded-tb-massive" th:replace="admin/_fragments :: footer">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img alt="wechat" class="ui rounded image" src="../../static/images/wechat.jpg"
                             style="width: 110px;">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a class="item" href="#">用户故事(User Story)</a>
                    <a class="item" href="#">用户故事(User Story)</a>
                    <a class="item" href="#">用户故事(User Story)</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a class="item" href="#">Email: hefeng.chen@gmail.com</a>
                    <a class="item" href="#">wechat: hefeng</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">BLOG</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">喜欢扁平化风格，但是用于个人博客又觉得太严肃。想知道有独特风格的个人博客是什么样的。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2010-2020 hefeng.com. All Rights Reserved.
        </p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>

    $(".toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // close message
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $('#clear-btn')
        .on('click', function () {
            $('.ui.dropdown')
                .dropdown('clear')
            ;
        })
    ;


</script>
<script th:src="@{/js/admin.js}" type="text/javascript"></script>
<script th:src="@{/js/blog.js}" type="text/javascript"></script>




</body>

</html>