
<!-- context -->
<div class="m-container-small m-padded-tb-big" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui container">
        <div class="ui secondary attached segment form" th:object="${blog}">
            <input id="pageNumber" type="hidden">
            <div class="inline fields">
                <div class="field">
                    <input name="title" placeholder="标题" type="text" th:field="*{title}">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui selection dropdown">
                            <input name="typeId" type="hidden" th:field="*{typeId}">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1" th:data-value="${type.id}"
                                     th:each="type : ${types}"
                                     th:text="${type.name}">错误日志
                                </div>
                                <!--/*-->
                                <div class="item" data-value="2">开发者手册</div>
                                <!--*/-->
                            </div>
                        </div>
                        <div class="ui compact button" id="clear-btn">Clear</div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input id="recommend" name="recommend" type="checkbox" th:field="*{recommend}">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button onclick="searchBlog()" class="ui mini teal basic button" id="search-btn" type="button"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>

        <div class="ui basic segment" id="table-container" style="background-color: #eeeeee">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog, iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">刻意练习清单</td>
                    <td th:text="${blog.type.name}">认知清单</td>
                    <td th:text="${blog.recommend} ? '是':'否'">是</td>
                    <td th:text="${blog.published} ? '发布':'草稿'">发布</td>
                    <td th:text="${blog.updateTime}">2020年5月14日 22点56分</td>
                    <td>
                        <a class="ui mini teal button m-margin-right" th:onclick="|editBlog(${blog.id})|">编辑</a>
                        <a class="ui mini teal button" th:onclick="|confirmDelete(${blog.id})|">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a class="icon item"
                               th:onclick="|otherPage(${page.number}-1)|" th:unless="${page.first}">上一页</a>
                            <a class="icon item"
                               th:onclick="|otherPage(${page.number}+1)|" th:unless="${page.last}">下一页</a>
                        </div>
                        <a class="ui mini right floated teal basic button" onclick="addBlog()">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>


        </div>
    </div>
</div>


<!-- delete confirm -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        你确定要删除吗，不可恢复，请做好备份
    </div>
    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui positive right labeled icon button" id="confirm-btn">
            确定
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


</script>

