<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>后台管理</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.2/dist/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/me.css" rel="stylesheet">
</head>

<body>
<!-- nav -->
<nav class="ui inverted attached segment m-padded-tb-mini" th:replace="admin/_fragments :: menu(0)">
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu" id="shortMenu">
            <a class="item" onclick="addBlog(this)">发布</a>
            <a class="item" onclick="blogList(this)">列表</a>
        </div>
    </div>
</div>

<!-- context -->
<div id="content-container">
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui success large message">
                <h3>Hi, </h3>
                <p>陈鹤峰， 欢迎登陆</p>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer class="ui segment inverted vertical attached padded" th:replace="admin/_fragments :: footer">
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<script>
    $(document).on('click', '.toggle',
        function () {
            $(".m-item").toggleClass("m-mobile-hide");
        });

    $(document).on("dropdown", '.ui.dropdown', {
        on: 'hover'
    });

    // close message
    $(document).on('click', '.message .close',
        function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $(document).on('click', '#clear-btn',
        function () {
            $('.ui.dropdown')
                .dropdown('clear');
        });


</script>

<script th:src="@{/js/admin.js}" type="text/javascript"></script>
<script th:src="@{/js/success.js}" type="text/javascript"></script>
<script th:src="@{/js/blog.js}" type="text/javascript"></script>
<script>
    storeItems('[[${token}]]', '[[${user.nickname}]]', '[[${user.avatar}]]');
</script>

</body>

</html>