

    <!-- context -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>
            <div class="ui segment">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>分类名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tag, iterStat : ${page.content}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${tag.name}">刻意练习清单</td>
                            <td>
                                <a href="#" th:href="@{/admin/tags/{id}/update(id=${tag.id})}" class="ui mini teal button">编辑</a>
                                <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini teal button">删除</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                    <a href="#" th:href="@{/admin/tags/(page=${page.number}-1)}" class="icon item" th:unless="${page.first}">上一页</a>
                                    <a href="#" th:href="@{/admin/tags/(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">下一页</a>
                                </div>
                                <a href="#" th:href="@{/admin/tags/update}" class="ui mini right floated teal basic button">新增</a>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
 

