<!-- context -->
<div class="m-container-small m-padded-tb-big" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <div class="ui basic segment" style="background-color: #EEEEEE">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>分类名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="type, iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${type.name}">刻意练习清单</td>
                    <td>
                        <a class="ui mini teal button" th:onclick="|editType(${type.id})|">编辑</a>
                        <a class="ui mini teal button" th:onclick="|deleteType(${type.id})|">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a class="icon item" th:onclick="|previousTypePage(${page.number})|"
                               th:unless="${page.first}">上一页</a>
                            <a class="icon item" th:onclick="|nextTypePage(${page.number})|"
                               th:unless="${page.last}">下一页</a>
                        </div>
                        <a class="ui mini right floated teal basic button" onclick="addType()">
                            新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
 

