<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>

<body>

    <!-- nav -->
    <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui item teal header">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="icon home"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="icon idea"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="icon tags"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="icon clone"></i>归档</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="icon info"></i>关于我</a>
                <div class="item right m-mobile-hide">
                    <div class="ui icon transparent inverted input">
                        <input type="text" placeholder="search...">
                        <i class="icon link search"></i>
                    </div>
                </div>
            </div>
            <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </nav>


    <!-- context -->
    <div id="content-container" class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="https://picsum.photos/id/1/800/600" alt="#" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text"></p>
                        <p class="m-text"></p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label">思考</div>
                        <div class="ui teal basic left pointing label">思考</div>
                        <div class="ui teal basic left pointing label">思考</div>
                        <div class="ui teal basic left pointing label m-margin-top">思考</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">思考</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="wechat ui circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui circular icon button"><i class="qq icon"></i></a>
                    </div>

                    <div class="ui wechat-qr flowing popup transition hidden">
                        <div class="image">
                            <img src="./static/images/wechat.jpg" alt="" class="ui rounded images" style="width: 100px;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <footer th:replace="_fragments :: footer">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


    <script>

        $(".toggle").click(function () {
            $(".m-item").toggleClass("m-mobile-hide");
        });

        $(".wechat").popup({
            popup: $(".wechat-qr.popup"),
            on: 'hover',
            position: "bottom center"
        });
    </script>

    

</body>

</html>